body {
    font: normal 300 18px/100% Lato, sans-serif;
    color: #2d3c49;
}

a:link {
    color: #23527c;
    font-size: 18px;
}

header {
    display:block;
}

footer {
    display: block;
    margin: 40px 0 0 0;
    padding: 20px;
    border: solid #7d97ad;
    border-width: 2px 0 0 0;
    text-align: center;
    text-transform: uppercase;
    font-size:14px;
}

figcaption {
	display: block;
    margin: 20px auto 10px auto;
	font-size: 30px;
    font-weight: 400;
	line-height: 25px;

}

figure {
    display: block;
    margin: 0 auto 0 auto;
}

.feature {
    display: block;
    margin: 0 auto 0 auto;
}

hr {
    display: block;
    border: solid #7d97ad;
    border-width: 2px 0 0 0;
    max-width: 100%;
    margin: 0;
	padding-bottom: 12px;
}

img, 
embed, 
object, 
video {
    max-width: 100%;
}

.feature {
	display: block;
	margin: 0 auto 0 auto;
}

.footericon {
    margin: 0 10px 0 10px;
    height: 28px;
    width: 28px;
}

.copyright {
    margin: 0 0 24px 0;
    text-align: center;
}

.footericon:link {
    color: #23527c;
    font-size: 14px;
}

.hr-rule {
    border-bottom: solid #7d97ad;
    border-bottom-width: 2px;
	margin-bottom: 12px;
}

.text-lowercase {
    text-transform: lowercase;
}

.text-muted {
    color: #7d97ad;
}

.text-thin {
    font-weight: 100;
}

.title-super {
    font-size: 60px;
}

.title-logo {
    margin: 22px 0 0 0;
}